.signUp{
  width: 760px;
  height: 570px;
  background-color: white;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
  margin-top: 20px;
}

.signup-img{
  margin-left: -12px;
}

.register-text{
  font-size: 14px;
  color: #535353;
}

.text-size{
  font-size: 14px;
  font-weight: 400;
  color: #535353;
}

.small-font{
  font-size: 12px;
}

.orange-color{
  color: rgb(229, 114, 0);
}

.orange-bg{
  background-color: #f3601e;
  font-size: 17px;
  padding: 12px;
}

.alink{
  text-decoration: none;
}

.grey{
  background-color: lightgray;
}
