<div class="d-flex flex-row mt-2" style="margin-left: 150px;width: 60%;height: 590px;">
  <div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner pointer" [routerLink]="['/products']">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="../../assets/images/banner.jpg" alt="first">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../assets/images/banner-1.jpg" alt="second">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../assets/images/banner-2.jpg" alt="third">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../assets/images/banner-3.jpg" alt="fourth">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../assets/images/banner-4.jpg" alt="fifth">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../assets/images/banner-5.jpg" alt="sixth">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../assets/images/banner-6.jpg" alt="seventh">
        </div>
      </div>
      <button class="carousel-control-prev position-fixed" style="margin-left: 22px;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon text-dark bg-dark text-start"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next position-fixed" style="margin-right: 682px;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon text-dark bg-dark text-end"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="ms-2">
    <img src="../../assets/images/new-launch.jpg">
    <img src="../../assets/images/Sofa-Cum-Beds-Gif.gif" class="mt-2" height="268px" width="100%">
  </div>
</div>
